In [79]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [81]:
df=pd.read_csv("C:/Users/91848/Desktop/Car_Dekho/dataset/final_df.csv")
df

,body type,Brand,model,modelYear,price,Kms Driven,Fuel Type,Transmission,Max Power,Torque,Mileage,Engine,ownerNo,Insurance Validity,Seats,City
0,Hatchback,Maruti,Maruti Celerio,2015,4.00,120000,Petrol,Manual,67.0,90.0,23.10,998,3,Third Party insurance,5,Bangalore
1,SUV,Ford,Ford Ecosport,2018,8.11,32706,Petrol,Manual,121.0,150.0,17.00,1497,2,Comprehensive,5,Bangalore
2,Hatchback,Tata,Tata Tiago,2018,5.85,11949,Petrol,Manual,84.0,114.0,23.84,1199,1,Comprehensive,5,Bangalore
3,Sedan,Hyundai,Hyundai Xcent,2014,4.62,17794,Petrol,Manual,81.0,113.0,19.10,1197,1,Comprehensive,5,Bangalore
4,SUV,Maruti,Maruti SX4 S Cross,2015,7.90,60000,Diesel,Manual,88.0,200.0,23.65,1248,1,Third Party insurance,5,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8334,Hatchback,Maruti,Maruti Celerio,2022,5.10,10000,Petrol,Manual,65.0,89.0,25.24,998,1,Third Party insurance,5,Kolkata
8335,Hatchback,Maruti,Maruti Alto 800,2014,1.80,120000,Petrol,Manual,47.0,69.0,22.74,796,1,Third Party insurance,5,Kolkata
8336,Sedan,Mercedes-Benz,Mercedes-Benz C-Class,2011,5.50,50000,Petrol,Automatic,186.0,285.0,11.74,1796,3,Third Party insurance,5,Kolkata
8337,Hatchback,Maruti,Maruti Ritz,2012,1.40,40000,Petrol,Manual,85.0,114.0,18.50,1197,1,Third Party insurance,5,Kolkata
8338,SUV,Renault,Renault Duster,2017,5.00,120000,Diesel,Manual,108.0,245.0,19.72,1461,2,Third Party insurance,5,Kolkata

In [83]:
df.columns

Index(['body type', 'Brand', 'model', 'modelYear', 'price', 'Kms Driven',
       'Fuel Type', 'Transmission', 'Max Power', 'Torque', 'Mileage', 'Engine',
       'ownerNo', 'Insurance Validity', 'Seats', 'City'],
      dtype='object')

# outlier detection

In [86]:
# Removing outliers from the 'price' column using IQR method
# Calculate Q1, Q3, and IQR
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1

# Filter out outliers from DataFrame
df_filtered = df[(df['price'] >= (Q1 - 1.5 * IQR)) & (df['price'] <= (Q3 + 1.5 * IQR))]

# Count of lower outliers
low_outliers = len(df[df['price'] < (Q1 - 1.5 * IQR)])

# Count of upper outliers
high_outliers = len(df[df['price'] > (Q3 + 1.5 * IQR)])

# Print outlier counts
print(f"Count of lower outliers: {low_outliers}")
print(f"Count of upper outliers: {high_outliers}")

Count of lower outliers: 0
Count of upper outliers: 912

In [88]:
df_filtered.reset_index(inplace=True,drop=True)
df_filtered

,body type,Brand,model,modelYear,price,Kms Driven,Fuel Type,Transmission,Max Power,Torque,Mileage,Engine,ownerNo,Insurance Validity,Seats,City
0,Hatchback,Maruti,Maruti Celerio,2015,4.00,120000,Petrol,Manual,67.0,90.0,23.10,998,3,Third Party insurance,5,Bangalore
1,SUV,Ford,Ford Ecosport,2018,8.11,32706,Petrol,Manual,121.0,150.0,17.00,1497,2,Comprehensive,5,Bangalore
2,Hatchback,Tata,Tata Tiago,2018,5.85,11949,Petrol,Manual,84.0,114.0,23.84,1199,1,Comprehensive,5,Bangalore
3,Sedan,Hyundai,Hyundai Xcent,2014,4.62,17794,Petrol,Manual,81.0,113.0,19.10,1197,1,Comprehensive,5,Bangalore
4,SUV,Maruti,Maruti SX4 S Cross,2015,7.90,60000,Diesel,Manual,88.0,200.0,23.65,1248,1,Third Party insurance,5,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422,Hatchback,Maruti,Maruti Celerio,2022,5.10,10000,Petrol,Manual,65.0,89.0,25.24,998,1,Third Party insurance,5,Kolkata
7423,Hatchback,Maruti,Maruti Alto 800,2014,1.80,120000,Petrol,Manual,47.0,69.0,22.74,796,1,Third Party insurance,5,Kolkata
7424,Sedan,Mercedes-Benz,Mercedes-Benz C-Class,2011,5.50,50000,Petrol,Automatic,186.0,285.0,11.74,1796,3,Third Party insurance,5,Kolkata
7425,Hatchback,Maruti,Maruti Ritz,2012,1.40,40000,Petrol,Manual,85.0,114.0,18.50,1197,1,Third Party insurance,5,Kolkata
7426,SUV,Renault,Renault Duster,2017,5.00,120000,Diesel,Manual,108.0,245.0,19.72,1461,2,Third Party insurance,5,Kolkata

In [90]:
df=df_filtered
df

,body type,Brand,model,modelYear,price,Kms Driven,Fuel Type,Transmission,Max Power,Torque,Mileage,Engine,ownerNo,Insurance Validity,Seats,City
0,Hatchback,Maruti,Maruti Celerio,2015,4.00,120000,Petrol,Manual,67.0,90.0,23.10,998,3,Third Party insurance,5,Bangalore
1,SUV,Ford,Ford Ecosport,2018,8.11,32706,Petrol,Manual,121.0,150.0,17.00,1497,2,Comprehensive,5,Bangalore
2,Hatchback,Tata,Tata Tiago,2018,5.85,11949,Petrol,Manual,84.0,114.0,23.84,1199,1,Comprehensive,5,Bangalore
3,Sedan,Hyundai,Hyundai Xcent,2014,4.62,17794,Petrol,Manual,81.0,113.0,19.10,1197,1,Comprehensive,5,Bangalore
4,SUV,Maruti,Maruti SX4 S Cross,2015,7.90,60000,Diesel,Manual,88.0,200.0,23.65,1248,1,Third Party insurance,5,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422,Hatchback,Maruti,Maruti Celerio,2022,5.10,10000,Petrol,Manual,65.0,89.0,25.24,998,1,Third Party insurance,5,Kolkata
7423,Hatchback,Maruti,Maruti Alto 800,2014,1.80,120000,Petrol,Manual,47.0,69.0,22.74,796,1,Third Party insurance,5,Kolkata
7424,Sedan,Mercedes-Benz,Mercedes-Benz C-Class,2011,5.50,50000,Petrol,Automatic,186.0,285.0,11.74,1796,3,Third Party insurance,5,Kolkata
7425,Hatchback,Maruti,Maruti Ritz,2012,1.40,40000,Petrol,Manual,85.0,114.0,18.50,1197,1,Third Party insurance,5,Kolkata
7426,SUV,Renault,Renault Duster,2017,5.00,120000,Diesel,Manual,108.0,245.0,19.72,1461,2,Third Party insurance,5,Kolkata

## encoding

In [93]:
import pickle
from sklearn.preprocessing import LabelEncoder

encoders = {}

# Columns to label encode
catg_col = ['body type', 'Brand', 'model', 'Fuel Type', 'Transmission', 'Insurance Validity', 'City']

# Apply LabelEncoder to each column and save the encoders
for col in catg_col:
    label_encoder = LabelEncoder()
    df[col] = label_encoder.fit_transform(df[col])  # Apply encoding
    encoders[col] = label_encoder  # Save the encoder for later use

# Save the encoders dictionary as a pickle file
with open("encoders.pkl", "wb") as file:
    pickle.dump(encoders, file)

print("Encoders saved as 'encoders.pkl'.")

Encoders saved as 'encoders.pkl'.

In [95]:
df.describe()

,body type,Brand,model,modelYear,price,Kms Driven,Fuel Type,Transmission,Max Power,Torque,Mileage,Engine,ownerNo,Insurance Validity,Seats,City
count,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000,7.427000e+03,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000,7427.000000
mean,4.251649,15.572910,113.282887,2016.416050,6.438124,5.967463e+04,3.094116,0.787397,95.334718,155.766819,19.641321,1347.685607,1.365423,3.825098,5.167228,2.430187
std,2.251153,7.511364,59.420920,3.712761,3.667032,4.419674e+04,1.392683,0.409176,33.063193,81.703699,3.709568,396.121773,0.641529,1.446031,0.645094,1.685178
min,0.000000,0.000000,0.000000,1985.000000,1.000000,1.010000e+02,0.000000,0.000000,35.000000,6.000000,7.080000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,9.000000,62.000000,2014.000000,3.800000,3.218700e+04,1.000000,1.000000,74.000000,110.000000,17.400000,1197.000000,1.000000,2.000000,5.000000,1.000000
50%,3.000000,19.000000,119.000000,2017.000000,5.660000,5.554400e+04,4.000000,1.000000,88.000000,117.000000,19.245568,1199.000000,1.000000,5.000000,5.000000,2.000000
75%,7.000000,19.000000,147.000000,2019.000000,8.110000,8.000000e+04,4.000000,1.000000,113.000000,191.000000,21.700000,1497.000000,2.000000,5.000000,5.000000,4.000000
max,8.000000,30.000000,243.000000,2023.000000,18.250000,2.000022e+06,4.000000,1.000000,510.000000,800.000000,140.000000,5000.000000,5.000000,6.000000,10.000000,5.000000

In [97]:
df.isnull().sum()

body type             0
Brand                 0
model                 0
modelYear             0
price                 0
Kms Driven            0
Fuel Type             0
Transmission          0
Max Power             0
Torque                0
Mileage               0
Engine                0
ownerNo               0
Insurance Validity    0
Seats                 0
City                  0
dtype: int64

## Test train split

In [100]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

X = df.drop(columns=['price'])  # Drop the target column from features
y = df['price']  # Target variable

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [102]:
import numpy as np

# Function to calculate RMSE
def calculate_rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

## scaler

In [105]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing sets
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Optionally, convert the scaled data back to DataFrame for easier readability
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns, index=X_train.index)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns, index=X_test.index)

print("Features scaled successfully!")
# Save the scaler to a pickle file
with open("scaler.pkl", "wb") as file:
    pickle.dump(scaler, file)

print("Scaler saved as 'scaler.pkl'.")

Features scaled successfully!
Scaler saved as 'scaler.pkl'.

## LinearRegression

In [108]:
from sklearn.linear_model import LinearRegression

# Initialize and train the model
linear_model = LinearRegression()
linear_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred_linear = linear_model.predict(X_test_scaled)

print("Linear Regression:")
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred_linear))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred_linear))
print("Root Mean Squared Error:", calculate_rmse(y_test, y_pred_linear))
print("R2 Score:", r2_score(y_test, y_pred_linear))

Linear Regression:
Mean Absolute Error: 1.3335743181981479
Mean Squared Error: 4.125146117330795
Root Mean Squared Error: 2.031045572440657
R2 Score: 0.6850196195035829

## DecisionTreeRegressor

In [111]:
from sklearn.tree import DecisionTreeRegressor

# Initialize and train the model
tree_model = DecisionTreeRegressor(random_state=42)
tree_model.fit(X_train, y_train)

# Make predictions
y_pred_tree = tree_model.predict(X_test)

# Evaluate the model
print("\nDecision Tree:")
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred_tree))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred_tree))
print("Root Mean Squared Error:", calculate_rmse(y_test, y_pred_tree))
print("R2 Score:", r2_score(y_test, y_pred_tree))

Decision Tree:
Mean Absolute Error: 1.0055383580080755
Mean Squared Error: 2.2890616756393003
Root Mean Squared Error: 1.5129645321815381
R2 Score: 0.8252160051874315

## RandomForestRegressor

In [114]:
from sklearn.ensemble import RandomForestRegressor

# Initialize and train the model
forest_model = RandomForestRegressor(random_state=42, n_estimators=100)
forest_model.fit(X_train, y_train)

# Make predictions
y_pred_forest = forest_model.predict(X_test)

train_score = forest_model.score(X_train, y_train)  # R-squared on training data
test_score = forest_model.score(X_test, y_test) 

# Evaluate the model
print("\nRandom Forest:")
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred_forest))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred_forest))
print("Root Mean Squared Error:", calculate_rmse(y_test, y_pred_forest))
print("R2 Score:", r2_score(y_test, y_pred_forest))
print("Train score:",train_score)
print("Test score:",test_score)

Random Forest:
Mean Absolute Error: 0.7593604684996476
Mean Squared Error: 1.2968628701473073
Root Mean Squared Error: 1.138798871683366
R2 Score: 0.900976511213865
Train score: 0.9857691563226403
Test score: 0.900976511213865

## ridge regression

In [116]:
from sklearn.linear_model import Ridge

# Initialize and train the model
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred_ridge = ridge_model.predict(X_test_scaled)

# Evaluate the model
print("\nRidge Regression:")
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred_ridge))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred_ridge))
print("Root Mean Squared Error:", calculate_rmse(y_test, y_pred_ridge))
print("R2 Score:", r2_score(y_test, y_pred_ridge))

Ridge Regression:
Mean Absolute Error: 1.3335941190371556
Mean Squared Error: 4.125092261653869
Root Mean Squared Error: 2.031032314281058
R2 Score: 0.6850237317170967

## Lasso regression

In [118]:
from sklearn.linear_model import Lasso

# Initialize and train the model
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred_lasso = lasso_model.predict(X_test_scaled)

# Evaluate the model
print("\nLasso Regression:")
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred_lasso))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred_lasso))
print("Root Mean Squared Error:", calculate_rmse(y_test, y_pred_lasso))
print("R2 Score:", r2_score(y_test, y_pred_lasso))

Lasso Regression:
Mean Absolute Error: 1.3408129535898523
Mean Squared Error: 4.23530080120209
Root Mean Squared Error: 2.05798464552146
R2 Score: 0.6766086291404843

In [119]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\91848\appdata\roaming\python\python312\site-packages (2.1.2)
Requirement already satisfied: numpy in c:\users\91848\appdata\roaming\python\python312\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\91848\appdata\roaming\python\python312\site-packages (from xgboost) (1.14.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## XG boosting

In [121]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Initialize the XGBoost Regressor
xgb_model = XGBRegressor(
    objective='reg:squarederror',
    n_estimators=100,
    max_depth=6,
    learning_rate=0.1,
    enable_categorical=True  # If using categorical data, set to True
)

# Train the model
xgb_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred_xgb = xgb_model.predict(X_test_scaled)

# Evaluation metrics
print("XGBoost Regressor:")
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred_xgb))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred_xgb))
print("Root Mean Squared Error:", np.sqrt(mean_squared_error(y_test, y_pred_xgb)))
print("R2 Score:", r2_score(y_test, y_pred_xgb))

XGBoost Regressor:
Mean Absolute Error: 0.7067744085798352
Mean Squared Error: 1.2008696199373512
Root Mean Squared Error: 1.0958419685051997
R2 Score: 0.9083061886643656

## hyperparameter tuning

## xg boosting

## cross validation -xg boosting

In [125]:
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
import numpy as np

# Initialize the XGBoost model
xgb_model = XGBRegressor(
    objective='reg:squarederror',
    n_estimators=100,
    max_depth=6,
    learning_rate=0.1,
    enable_categorical=True  # Set this to True if your data has categorical features
)

# Perform cross-validation
cv_scores = cross_val_score(
    xgb_model,
    X_train_scaled,
    y_train,
    cv=5,  # Number of folds
    scoring='neg_mean_squared_error'  # Evaluation metric
)

# Calculate mean and standard deviation of scores
mean_mse = -np.mean(cv_scores)
std_mse = np.std(cv_scores)
mean_rmse = np.sqrt(mean_mse)

print("Cross-Validation Results:")
print("Mean MSE:", mean_mse)
print("Standard Deviation of MSE:", std_mse)
print("Mean RMSE:", mean_rmse)
print("All CV MSE Scores:", -cv_scores)

Cross-Validation Results:
Mean MSE: 1.1985615761767545
Standard Deviation of MSE: 0.12903524222128876
Mean RMSE: 1.0947883704975836
All CV MSE Scores: [1.27863905 1.1014625  0.99897036 1.35221457 1.2615214 ]

## RandomizedSearchCV-xg boosting

In [127]:
from sklearn.model_selection import RandomizedSearchCV

# Define the parameter grid
param_dist = {
    'n_estimators': [100, 200, 300, 500],
    'max_depth': [3, 5, 7, 9],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.5, 0.7, 1.0],
    'gamma': [0, 0.1, 0.2],
    'min_child_weight': [1, 3, 5]
}

# Initialize RandomizedSearchCV with 5-fold cross-validation
random_search = RandomizedSearchCV(estimator=xgb_model, param_distributions=param_dist,
                                   n_iter=50, scoring='neg_mean_squared_error', cv=5, verbose=1, random_state=42)

# Fit the model
random_search.fit(X_train_scaled, y_train)

# Get the best parameters and score
print("Best Parameters:", random_search.best_params_)
print("Best Score:", -random_search.best_score_)

Fitting 5 folds for each of 50 candidates, totalling 250 fits
Best Parameters: {'subsample': 0.6, 'n_estimators': 500, 'min_child_weight': 1, 'max_depth': 5, 'learning_rate': 0.05, 'gamma': 0, 'colsample_bytree': 0.5}
Best Score: 1.0985500343484076

## after tuning xg boosting

In [129]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Initialize the XGBoost Regressor with the best parameters from RandomizedSearchCV
xgb_model = XGBRegressor(
    objective='reg:squarederror',
    n_estimators=500,
    max_depth=5,
    learning_rate=0.05,
    subsample=0.6,
    colsample_bytree=0.5,
    min_child_weight=1,
    gamma=0,
    random_state=42,
    enable_categorical=True  # Set this to True if there are categorical features
)

# Train the model on the scaled training data
xgb_model.fit(X_train_scaled, y_train)

# Make predictions on the test data
y_pred_xgb = xgb_model.predict(X_test_scaled)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred_xgb)
mse = mean_squared_error(y_test, y_pred_xgb)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred_xgb)

# Calculate R-squared scores for both train and test sets
train_score = xgb_model.score(X_train_scaled, y_train)  # R-squared on training data
test_score = xgb_model.score(X_test_scaled, y_test)     # R-squared on test data

# Print results
print("XGBoost Regressor Evaluation:")
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R2 Score:", r2)
print("Train Score (RÂ²):", train_score)
print("Test Score (RÂ²):", test_score)

XGBoost Regressor Evaluation:
Mean Absolute Error (MAE): 0.6618716332569097
Mean Squared Error (MSE): 1.02348593016798
Root Mean Squared Error (RMSE): 1.0116748144379102
R2 Score: 0.9218505287939627
Train Score (RÂ²): 0.9694704179589946
Test Score (RÂ²): 0.9218505287939627

In [130]:
import pickle

# Save the trained model as a pickle file
with open('xgb_model.pkl', 'wb') as model_file:
    pickle.dump(xgb_model, model_file)

print("Model saved as 'xgb_model.pkl'")

Model saved as 'xgb_model.pkl'

In [131]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from xgboost import XGBRegressor  # XGBoost model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import pandas as pd
import pickle

# Load previously saved encoder and scaler
with open('encoder.pkl', 'rb') as enc_file:
    encoder = pickle.load(enc_file)

with open('scaler.pkl', 'rb') as scale_file:
    scaler = pickle.load(scale_file)

# Assume df is your DataFrame
# Define features (X) and target (y)
X = df.drop(columns=['price'])  # Drop target column
y = df['price']  # Target variable

# List of categorical and numerical columns
categorical_cols = ['body type', 'Brand', 'model', 'Fuel Type', 'Transmission', 'Insurance Validity', 'City']
numerical_cols = [col for col in X.columns if col not in categorical_cols]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', scaler, numerical_cols),  # Use the previously saved scaler for numerical columns
        ('cat', encoder, categorical_cols)  # Use the previously saved encoder for categorical columns
    ]
)

# Create the pipeline
pipeline = Pipeline([
    ('preprocessor', preprocessor),  # Apply preprocessing
    ('model', XGBRegressor())  # Use XGBoost model
])

# Train the pipeline
pipeline.fit(X_train, y_train)

# Make predictions
y_pred = pipeline.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R^2 Score: {r2}")

# Save the trained model as a pickle file
with open('xgb_model.pkl', 'wb') as model_file:
    pickle.dump(pipeline, model_file)

print("Model saved as 'xgb_model.pkl'.")

Mean Squared Error: 1.1175441297576205
Mean Absolute Error: 0.6870384417857328
R^2 Score: 0.9146686044080399
Model saved as 'xgb_model.pkl'.

In [132]:
pred_df=pd.read_csv("C:/Users/91848/Desktop/Car_Dekho/dataset/final_df.csv")
pred_df

,body type,Brand,model,modelYear,price,Kms Driven,Fuel Type,Transmission,Max Power,Torque,Mileage,Engine,ownerNo,Insurance Validity,Seats,City
0,Hatchback,Maruti,Maruti Celerio,2015,4.00,120000,Petrol,Manual,67.0,90.0,23.10,998,3,Third Party insurance,5,Bangalore
1,SUV,Ford,Ford Ecosport,2018,8.11,32706,Petrol,Manual,121.0,150.0,17.00,1497,2,Comprehensive,5,Bangalore
2,Hatchback,Tata,Tata Tiago,2018,5.85,11949,Petrol,Manual,84.0,114.0,23.84,1199,1,Comprehensive,5,Bangalore
3,Sedan,Hyundai,Hyundai Xcent,2014,4.62,17794,Petrol,Manual,81.0,113.0,19.10,1197,1,Comprehensive,5,Bangalore
4,SUV,Maruti,Maruti SX4 S Cross,2015,7.90,60000,Diesel,Manual,88.0,200.0,23.65,1248,1,Third Party insurance,5,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8334,Hatchback,Maruti,Maruti Celerio,2022,5.10,10000,Petrol,Manual,65.0,89.0,25.24,998,1,Third Party insurance,5,Kolkata
8335,Hatchback,Maruti,Maruti Alto 800,2014,1.80,120000,Petrol,Manual,47.0,69.0,22.74,796,1,Third Party insurance,5,Kolkata
8336,Sedan,Mercedes-Benz,Mercedes-Benz C-Class,2011,5.50,50000,Petrol,Automatic,186.0,285.0,11.74,1796,3,Third Party insurance,5,Kolkata
8337,Hatchback,Maruti,Maruti Ritz,2012,1.40,40000,Petrol,Manual,85.0,114.0,18.50,1197,1,Third Party insurance,5,Kolkata
8338,SUV,Renault,Renault Duster,2017,5.00,120000,Diesel,Manual,108.0,245.0,19.72,1461,2,Third Party insurance,5,Kolkata

In [152]:
pred_df.iloc[10]

body type                         Hatchback
Brand                                Maruti
model                         Maruti Baleno
modelYear                              2018
price                                   6.9
Kms Driven                            50000
Fuel Type                            Petrol
Transmission                         Manual
Max Power                              83.0
Torque                                115.0
Mileage                                21.4
Engine                                 1197
ownerNo                                   1
Insurance Validity    Third Party insurance
Seats                                     5
City                              Bangalore
Name: 10, dtype: object

In [154]:
import pandas as pd
import pickle

# Load the previously saved model pipeline
with open('xgb_model.pkl', 'rb') as model_file:
    pipeline = pickle.load(model_file)

# New data (excluding price)
new_data = {
    'body type': ['Hatchback'],
    'Brand': ['Maruti'],
    'model': ['Maruti Baleno'],
    'modelYear': [2018],
    'Kms Driven': [50000],
    'Fuel Type': ['Petrol'],
    'Transmission': ['Manual'],
    'Max Power': [83.0],
    'Torque': [115.0],
    'Mileage': [21.4],
    'Engine': [1197],
    'ownerNo': [1],
    'Insurance Validity': ['Third Party insurance'],
    'Seats': [5],
    'City': ['Bangalore']
}

# Create a DataFrame from the new data
new_df = pd.DataFrame(new_data)

# Use the pipeline to predict the price of the car
predicted_price = pipeline.predict(new_df)

print(f"Predicted Price of the car: {predicted_price[0]:.2f}")

Predicted Price of the car: 5.86